<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="BITNuGet" value="https://pkgs.dev.azure.com/revolutiondesign/_packaging/BITNuGet/nuget/v3/index.json" protocolVersion="3" />
    <add key="Telerik" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>